[jd-enabled=true] .kix-spell-bubble {
    display: none !important;
}

[jd-enabled=true] .ng.Lm {
    background-image: none !important;
}

[jd-enabled=true] .ng.LI {
    background-image: none !important;
}
